# Gunicorn config file

[Unit]
Description=Gunicorn instance to serve color_count 
After=network.target

[Service]
User=ubuntu
Group=www-data 
WorkingDirectory=/home/ubuntu/color_count_redis/webserver
#Environment="PATH=/home/ubuntu/one-and-done/vm-webserver/colorsenv/bin" # I don't think this matters

#ExecStart=/usr/local/bin/gunicorn --workers 3 --bind 0.0.0.0:8000 --forwarded-allow-ips=* -m 007 wsgi:app

#ExecStart=/usr/local/bin/gunicorn --workers 3 --bind 0.0.0.0:8000 --forwarded-allow-ips=* -m 007 --log-level debug --access-logfile /var/log/gunicorn/access.log --error-logfile /var/log/gunicorn/error.log wsgi:app

ExecStart=/usr/local/bin/gunicorn --workers 3 --bind 0.0.0.0:8000 --forwarded-allow-ips=* -m 007 --access-logfile /var/log/gunicorn/access.log --error-logfile /var/log/gunicorn/error.log wsgi:app

[Install]
WantedBy=multi-user.target
